<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 引入 Shared 基础模板 -->
	<include file="nlog.base.config" />

	<!-- Host 自己的 targets -->

	<!-- 开发环境：禁用文件日志，只保留控制台 -->
	<variable name="logDir" value="${when:when='${environment:ASPNETCORE_ENVIRONMENT}'=='Development':inner=:else=logs/${shortdate}}" />

</nlog>
